@import "tailwindcss";

:root {
  --font-sans: "Inter", sans-serif;
  --background-color: #121212;
  --text-color: #ffffff;
}

* {
  font-family: var(--font-sans);
  /* background-color: var(--background-color); */
  color: var(--text-color);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #00ffff;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00bbbb;
}
